* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0;
}

:root {
  --primary-color: #f2f3fb;
  --secondry-color: #5c00f1;
  --font-Color: #1f160f;
  --min-height: 100vh;
  --nave-height: 100px;
  --vh-100: 100vh;
  --transition: all 0.3s ease-in-out;
  --shadow: rgb(149 157 165 / 61%) 0px 8px 24px;
}
@font-face {
  font-family: "myFont";
  src: url("./font/Notable/Notable-Regular.ttf");
}

body {
  background-color: var(--primary-color);
  color: var(--font-Color);
  min-height: var(--min-height);
}
button {
  cursor: pointer;
}
a {
  color: inherit !important;
}
ul {
  list-style: none;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.form {
  background: white;
  box-shadow: rgb(149 157 165 / 61%) 0px 8px 24px;
  border-radius: 20px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.text-center {
  text-align: center;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.vh-100 {
  height: var(--vh-100);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-items-start {
  align-items: flex-start !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.justify-content-start {
  justify-content: start !important;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
/* nav */
.navebar {
  max-width: 1000px;
  border-radius: 15px;
  background: white;
  height: 65px;
  /* background: aqua; */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navli {
  font-size: 30px;
  cursor: pointer;
  margin: 0 50px;
  padding: 0px;
}
.navli a {
  padding: 10px;
}

.active-li {
  color: var(--secondry-color) !important;
}
.header {
  height: auto;
  min-height: 250px;
  margin-top: 0px;
}
.header .container {
  height: 150px;
}
.header .head-card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  height: 35%;
  min-width: 150px;
  background-color: white;
  cursor: pointer;
  z-index: 1111111111111111;
}
.header .head-card img {
  width: 50%;
  position: absolute;
  max-width: 60px;
  bottom: 0;
  left: 0;
}
.head-card button {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  border: 0;
  border-radius: 10px;
  transition: var(--transition);
  box-shadow: var(--shadow);
  padding: 15px;
  text-align: end;
}
.header .head-card h2 {
  width: 50%;
  position: absolute;
  text-align: center;
  padding-right: 30px;
  right: 0;
  bottom: 10px;
}
.head-card-active {
  background-color: var(--secondry-color) !important;
  color: var(--primary-color) !important;
  font-size: 20px;
}
.aclass {
  width: 100%;
  display: flex;
  height: 100%;
  padding: 15px;
  border-radius: 5px;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  box-shadow: var(--shadow);
}
.global-nave {
  height: 100px;
  color: var(--secondry-color);
  font-size: 20px;
}
.search {
  background: white;
  border: 1px solid var(--secondry-color);
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  position: relative;
  transition: var(--transition);
  overflow: hidden;
}
.search h2 {
  position: absolute;
  color: var(--primary-color);
  margin: 0;
  transition: var(--transition);
}
.search:hover h2 {
  margin-top: 70px;
}
.search::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--secondry-color);
  position: absolute;
  transition: var(--transition);
  bottom: 0;
}
.search:hover::before {
  height: 0px;
}
.search input {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: 0;
  color: var(--secondry-color);
}

.search .search-input {
  width: 80%;
}
.search .search-icon {
  width: 20%;
}
.products {
  padding-bottom: 100px;
}
.pro-card {
  width: 200px;
  cursor: pointer;
  height: 250px;
  background: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: var(--shadow);
}
.pro-card div:first-child {
  height: 70%;
}
.pro-card div:first-child img {
  width: 120px;
}
.pro-card div:last-child {
  height: 30%;
}
.pro-card div:last-child div:last-child {
  color: var(--secondry-color);
}
.details {
  width: 60%;
  border-radius: 10px;
  height: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: var(--primary-color);
  position: fixed;
  z-index: 11111111111111111111111;
  transition: var(--transition);
  box-shadow: var(--shadow);
}
.det-active {
  height: 80%;
  overflow: unset;
}
.details button {
  height: 40px;
  font-size: 20px;
  box-shadow: var(--shadow);
  font-weight: bolder;
  border: 0;
}
.details .closeButton {
  width: 40px;
  background: transparent;
  border-radius: 50%;
  color: #ff3737;
  position: absolute;
  top: 10px;
  right: 10px;
}
.lov-btn {
  position: absolute;
  width: 40px;
  top: 10px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  right: 10px;
  transition: var(--transition);
  color: black;
  box-shadow: var(--shadow);
}
.love {
  color: #ff3737 !important;
}
.mk-friend {
  width: 150px !important;
  border-radius: 10px !important;
  background: var(--secondry-color) !important;
  color: white !important;
  margin: 10px !important;
}
/* login reg */
.login input,
.reg input {
  width: 60%;
  height: 55px;
  border: 1px solid var(--secondry-color);
  border-radius: 5px;
  outline: none;
  background: none;
  color: var(--font-Color);
  padding: 10px;
  margin: 15px;
}

.login h2:nth-child(1),
.login h3 span,
.reg h2:nth-child(1),
.reg h3 span {
  color: var(--secondry-color);
  font-family: "myFont";
}
.user {
  height: calc(100vh - 200px);
}
.sideNave {
  width: 30%;
  background: white;
  border-right: 1px solid #eee;
}
.sideNave ul {
  padding: 10px;
}
.sideNave ul li a {
  padding: 20px 0px;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: block;
  text-decoration: none;
  transition: var(--transition);
}
.sideNave ul li a:hover,
.selected {
  background: var(--secondry-color);
  color: var(--primary-color) !important;
}

.content {
  width: 70%;
  background-color: white;
  overflow: scroll;
}
.content div img {
  border-radius: 50%;
  width: 80px;
}

.update {
  width: 300px;
}
.update button {
  width: 100%;
}
.media {
  display: none;
}
.side {
  display: block;
}
.card {
  border-bottom: 1px solid #ccc;
}
.card div:nth-child(1) {
  width: 20%;
}
.card div:nth-child(2) {
  width: 50%;
}
.card div:nth-child(3) {
  width: 30%;
}
.card-middle div p,
.card-middle div p span {
  margin: 5px;
}
.upimg img {
  width: 90% !important;
  border-radius: 5px !important;
  max-width: 350px;
}
.options {
  width: 300px;
  height: 55px;
  margin: 10px;
  background-color: var(--primary-color);
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: var(--transition);
}
.options button {
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 55px;
  background: none;
  transition: var(--transition);
  margin: 0;
  color: #1f160f;
  position: relative;
}
.options button img {
  width: 10%;
}
.options button:hover {
  background-color: var(--secondry-color);
  color: var(--primary-color) !important;
}
.options button:first-child:after {
  content: "";
  background: transparent;
  position: absolute;
  right: 95px;
  top: 24px;
  transition: var(--transition);
  border: 10px solid;
  border-color: #1f160f transparent transparent transparent;
}
.options button:hover::after {
  border-color: var(--primary-color) transparent transparent transparent;
}
.deletmsg {
  position: absolute;
  width: 50%;
  right: 50%;
  top: 50%;
  height: 150px;
  background: white;
  box-shadow: var(--shadow);
  transform: translate(50%, -50%);
}
.search-return {
  width: 90%;
  background-color: white;
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.search-return .card-start img {
  max-width: 100px;
}
@media only screen and (max-width: 768px) {
  .navebar {
    width: 90%;
  }
  .navebar ul li {
    margin: auto;
  }
  .media {
    display: block;
  }
  .side {
    display: none;
  }
  .sideNave {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .options {
    width: 90%;
  }
  .options button:first-child:after {
    right: 70px;
  }
  .deletmsg {
    width: 90%;
  }
  .user {
    flex-direction: column !important;
  }
  .user .sideNave {
    width: 100%;
    height: 100px;
  }
  .user .sideNave ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideNave ul li {
    width: 25%;
  }
  .sideNave ul li a {
    padding: 20px 30px !important;
  }
}
@media only screen and (max-width: 320px) {
  .deletmsg div:last-child {
    flex-direction: column !important;
  }
  .deletmsg div:first-child {
    height: 10%;
  }
  .deletmsg div:last-child {
    height: 90%;
  }
}
.det-card {
  min-width: 300px;
  height: 80%;
  box-shadow: var(--shadow);
  border-radius: 7px;
  left: -70px;
  background: var(--primary-color);
}
.det-card div:first-child.det-card-top {
  border-bottom: 2px solid white;
  height: 85%;
  overflow: hidden;
  max-width: 300px;
}
.det-card div:last-child.det-card-bottom {
  height: 15%;

  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: start;
}
.select-img {
  height: 100%;
  cursor: pointer;
  border-radius: 7px;
  background-color: white;
  border: 2px solid var(--secondry-color);
  min-width: 60px;
  max-width: 60px;
  margin: 0 10px;
}
.det-card .share-btn {
  left: 10px;
  color: black !important;
}
.my {
  height: auto !important;
  background-color: var(--secondry-color) !important;
}
.det-data {
  margin-top: 160px;
}
